table {
  color: green;
}
[href="#ideveloper"] {
  color: orange;
}
.bold {
  font-weight: bold;
}
.color {
  color: red;
}
.itog {
  font-weight: bold;
}
html tr {
  color: gray;
}
.list > li {
  color: pink;
}
